body {
  margin: 0%;
  font-family: "Gelasio", serif;
}
h1 {
  font-size: 40px;
}
.name-highlight {
  color: chocolate;
}

.half-border {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-border img {
  width: 100%;
}
.devcolor {
  color: crimson;
}
.down {
  padding-top: 55%;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
}
.btnn {
  text-decoration: none;
  background-color: orange;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}
